*{
    margin: 0;
    padding: 0;
}
.cabecalho {background-color: rgb(44, 5, 136);
color: rgb(237, 238, 241);
display: flex;
justify-content: space-around;
padding: 24px 0;
}
.imagem-cabecalho{
    width: 2 %;
    height: 5%;   
}
li
{display: inline-block;
   margin: 0 16px;
   padding: 24px 0;
   font-size: 24px;} 
h1
   {display: inline-block;
       margin: 0 16px;
       padding: 100px 0;
       font-size: 40px;}

.escola-imagem{
            width: 12%;
            }
.escola {
    background-image: linear-gradient(rgb(44, 5, 136),rgb(86, 110, 247));
    color: rgb(168, 174, 179);
    display: flex;
justify-content: center;
align-items: center;
padding: 24px 0;}

.escola-conteudo
{width: 50%;}
.escola-título
 {padding: 50px 30px;}
 .aluno-um{
    width: 12%;
 }
 .escola-título
 {padding: 50px 30px;}
 .aluno-um{
      width: 10%;
 }
.estudante-icone
{width: 70px;}

.estudante-div {
    text-align:center;
}
